/* **********************UNUSED********************************************************** */
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App-link {
  color: #61dafb;
} */

/* ********************** GLOBAL ********************************************************** */

.App {
  text-align: center;
}

.App-header , body , .App {
  background-color: #282c34;
  background-color: #b364f0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.piecesimage {
  width:80vw;
  padding-top:20vh;
}

.maincontainer {
  position: relative;
  top:15px;
}
/* ********************** SVG PATTERNS - VISIBLE BUT TINY******************************************* */

.defs {
  height:1px;
  
}
#patterns {
  width:1px;  
}

#pictureframe {
  
  object-fit:cover;
  /* THIS DETERMINES THE CIRCLE OVER ALL SIZE.... */
  width: 150px;
  height: 150px;
  /* YOU CAN HIDE THE VISIBILITY AND THE FUNCTIONALITY WILL STILL WORK */
}
#myimg {
  object-fit:cover;
  /* fill is best - it will mimic what the slicing will do */
  object-fit: fill; 
  /* width:100%; */
  width: 100px;
  height: 100px; 

}
#pictureframe img {
  object-fit:cover;
  /* fill is best - it will mimic what the slicing will do */
  object-fit: fill; 
  /* width:100%; */
  width: 100px;
  height: 100px; 
}

/* *************************FILE UPLOPAD ******************************************************* */

.flexbox {
  display:flex;
  width:95%;
}
.photoComponent{
  /* width:600px; */
  width:80vw;
  /* width can't be a percentage for the scroll box to work???? */
  overflow-x: scroll;
  box-shadow: 0 3px 5px 0 #3a5044, 0 3px 5px 0 #3a5044;
  background-color: #f5eeb2;

}
.photogrid {
  display:flex;
  /* flex-wrap: wrap; */


}
.gridbox {
  width:300px;
  height:260px;
  padding:10px;
}
.eachphoto {
  width:200px;
  height: 200px;

}
.eachphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: fill; */

}
.deletephoto {
  background-color: rgb(241, 81, 81);
  color:white;
}

.photoaction {
  background-color: #9ee4bd;
  border-radius: 5px;
  filter: brightness(1.2);
  text-decoration: none;
  color:#22262c;
  margin:10px;
  padding:5px;
}
.gridmessage {
  /* width:300px; */
  height:260px;
  padding:10px;
}
.nophotomessage {
  color:#22262c;
width:100%;
text-align: center;
}
/* ******************************  NAV ELEMENT ****************************************************** */

.logo {
  float:left;
  height:30px;
}
.logoright {
  float:right;
  height:30px;
  visibility: hidden;
}
.nav {
  position: absolute;
  top:0;
  width: 100%;
  background-color: #9ee4bd;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navelement {
  /* padding:5px; */
  /* padding: 0 5px 0 5px; */
  margin:10px;
  color:#282c34;
  
  /* color:white; */
  /* margin: 5px; */
}


.bright {
  background-color: yellow;
 filter: brightness(1.2);
 text-decoration: none;
 color:black;
 margin:5px;
}
.topnav {
  background-color: rgb(0, 195, 255);
  background-color: #9ee4bd;

 /* filter: brightness(1.1); */
 text-decoration: none;
 color:black;
 margin:5px;

}
.dull {
  background-color:grey;
 filter: brightness(.8);
 text-decoration: none;

}
.tinypuzzlepiece {
  width:15px;

}

/* ******************************  PUZZLE COMPONENT ************************************************** */


/* .largersvg {
  width:100vh;
} */

.puzzleboard {
  /* width:90vw;  */
  /* this works but it makes no sense */
  /* width: calc(5/7 * 100vw); */
  
  display:flex;
  flex-direction: row;
  /* grid-template-columns: 80% 20%; */
  /* grid-template-rows: 100%; */
  justify-content: space-between;
}
.puzzlesvg {
  /* width:90vh; */
  /* height:1000px; */
  overflow:visible;
  /* transform: translate(50% 50%) */
  
}
.thepuzzleContainer {
  /* width:100%; */
border:2px solid #5ae89a;
box-shadow: 0 3px 5px 0 #86ab97, 0 3px 5px 0 #86ab97;
/* margin:5px; */
}
.tinyphoto {
  padding:10px;
}
.turnphone {
  display:none;
}
/* ******************************  GUESS  COMPONENT ************************************************** */

.hidethis {
  visibility: hidden;
  /* display: none; */

}
.guessGrid {
  width:95vw;
  /* display: grid; */
  display:flex;
  justify-content: space-around;
  

  /* grid-template-columns: 60% 40%; */
}
.svgcontainer {
  border:2px #5ae89a solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
}
.guessingsize {
  /* width:80vw; */
}
.answerlist {
  list-style: none;
  text-align: left;
}
.prevImgThumb  {
  width:100px;
  height:100px;
}
.guessingOptions {
  padding:10px;
}
/* ******************************  BUBBLE  COMPONENT ************************************************** */

.mainbubblecontainer {
  /* width:80vw; */
}
.bubbleoptions {
  margin:5px;
  /* padding:5px; */
}
.circlenum {
  font-size: 75%;
  
}
.bubblegrid {
  /* portrait is vw, landscape is vh */
  /* width:90vw;   */
  display:flex;
  
}
.svgcontainer {
  width:80vh;
}
.bubblecontrols {
  padding:5px;
}

/* ********** MEDIA QUERIES ******************* */

/* Landscape */
@media screen and (orientation:landscape) {
	.flexbox {
    flex-direction: column;
   }
   .bubblegrid {
    flex-direction: row;
  grid-template-columns: 80% 20%;

    /* width:90vh;  */

}
.svgcontainer {
  width:80vh;
}

.puzzleboard {
  flex-direction: row;
}
.puzzlesvg {
  width:90vh;
 }
.guessGrid {
  flex-direction: row;
}

}
 /* Portrait styles */
 @media screen and (orientation:portrait) {
	.flexbox {
    flex-direction: column;
   }
   .bubblegrid {
    grid-template-columns: 100%;
    flex-direction: column;
    justify-content: center;
  }

.svgcontainer {
  width:90vw;
}
.puzzleboard {
  flex-direction: column;
}
.puzzlesvg {
  width:75vw;
 }

 .guessGrid {
  flex-direction: column;
}
}



  @media (pointer: coarse) {
    .menu {
        display:none;
    } 
  
  }
  @media screen and (pointer: coarse) and (orientation:portrait) {

    .turnphone {
      display:inline;
    }
  }


